<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, EJS!</h1>
    
      <nav style="display: flex; gap: 20px;">
          <a href="/analysis" ><p>analysis</p></a>
          <a href="/insights"><p>insights</p></a>
          <a href="/methods"><p>methods</p></a>
          



      </nav>
       
 
</body>
</html>