<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>methods</h1>
    <form action="/methods/get" method="POST">
        <input type="text" name="data" placeholder="Enter method "><br><br><br>
        <button type="submit">Submit</button><br><br>
        <a href="/">back to home</a>
    </form>
        <% if (data) { %>
        <h2>Response:</h2>
        <p><%= data %></p>
    <% } %>
</body>
</html>